.red-color {
    color: red;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-auth{
    margin: 50px 0px;
    width: 390px;
    border: 1px solid grey;
    padding: 20px;
    & label{
        display: block;
        margin-bottom: 20px;  
        & span{
            width: 30px;
        }     
    }
    
    & input{
        margin-left: 10px;
        float: right;
        width: 220px;
    }

    & input[type='submit'], button{
        display: block;
        float: right;
        width: 150px;
    }
}
.item-org-wrap{
    max-width: 500px;
    background-color: yellow;
    border:1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    & .item-org{
        list-style: none;
        width: 100%; 
        padding: 0px;
        margin: 0px;
    }
    
    & span{
        float: right;
        margin-left: 10px;
        cursor: pointer;
        color:rgb(29, 136, 168);
    }
    & span:hover {
        text-decoration: underline;
    }
}

.delete-wrap{    
    width: 300px;
    padding: 5px;
    
    & .question{
        text-align: center;
        margin-bottom: 5px;
    }
    & .answer-wrap{
        text-align: center;
        
        & button{
            margin-left: 10px;
            margin-bottom: 5px;
        }
    }
}

.btn-custom {
    margin: 5px 5px 5px 0px;
}